<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Tableau principal des produits -->
  <h1>Gestion de produits</h1>
  <table border="1">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of produits">
        <td>{{prod.id}}</td>
        <td>{{prod.nom}}</td>
        <td>
          <a href="javascript:void(0);" (click)="edit(prod)">Edit</a>
        </td>
         <td>
          <a href="javascript:void(0);" (click)="delete(prod)">Delete</a>

        </td>
      </tr>
    </tbody>
  </table>

  <!-- Tableau d'informations sur le produit sélectionné -->
  <div *ngIf="editMode && editProduct">
    <h2>Edit Product Details</h2>
    <table border="1">
      
        <tr>
          <th>id</th>
          <td>{{editProduct.id}}</td>
        </tr>
          <tr>
            <th>name</th>
            <td>{{editProduct.nom}}</td>
          </tr>
          <tr>
            <th>categId</th>
            <td>{{editProduct.categId}}</td>
          </tr>
          <tr>
            <th>description</th>
            <td>{{editProduct.description}}</td>
          </tr>
          <tr>
            <th>price</th>
            <td>{{editProduct.prix}}</td>
          </tr>
    </table>
  </div>

  
  <input type="button" value="create" (click)="create()">
</body>
</html>
